# repository dependencies
python-dotenv

# API data requests
requests

# VADER sentiment analysis
vaderSentiment

# Agents
pandas
numpy

# Langgraph
langchain_core
langchain-anthropic
langgraph
ipython

# Backtest
matplotlib